<!-- Bold: Memberships (Article) -->
    {% include 'bold_mem_helper' with 'article' %}
    <!-- end Bold code -->
<div class="container">
  <div class="blog-container">
    {% section 'article-template' %}
    {% section 'blog-sidebar' %}
    
  </div>
</div>